body {
    font-family:Verdana,sans-serif;
    font-size:100%;
}

aside{
    width: 40%;
    background-color: silver;
}

header,footer,section,article{
    border:1px solid black;
    margin:5px;
    margin-bottom:15px;
    padding:8px;
    background-color:whitesmoke ;
}

header,footer {
    clear: both;
    color:white;background-color:#444;margin-bottom:5px;
    
}

article {
     color:black;
     margin-left: 65%;
     opacity:.9;
}

section {
    background-image:white;
    float: left;
    width: 60%;
    opacity: .9;
}

aside {
    background-color:silver;
    margin-left: 65.0% ;
    width: 40.0% ;
}

footer {
    float: bottom;
}

header {
    background-image: url(https://lp-cms-production.imgix.net/2019-06/723c2188feaff1b5f8f3876f6127d515-saskatchewan.jpg);
    text-align: center;
    background-repeat: none;
}

nav {
    margin-left: 8px;
}

nav ul{
	margin: 0;
	padding: 0;
}

nav ul li{
	display:inline;
	margin-right: 2%;
}



/* */