body, html {
    height: 100%;
  }

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    background: url(images/banff.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}

.form_area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: auto;
    border-radius: 20px;
    opacity: 1;
}

.title{
    color: #06267d;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 20px;
}

.sub_title{
    font-weight: 600;
    margin: 5px 0;
}

.form_group{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 20px;
}

.form_style{
    outline: none;
    border: 1px solid #000;
    box-shadow: 3px 4px 0px 1px #000;
    width: 290px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
}

.form_style:focus, .btn:focus{
    transform: translateY(4px);
    
}

.btn{
    padding: 15px;
    margin: 30px 0px;
    width: 310px;
    font-size: 15px;
    background: #4f9df6;
    border-radius: 30px;
    font-weight: 800;
   
}

p{
    margin: 20px 0px;   
}

.link{
    font-weight:800;
}