body {
    font-family:Verdana,sans-serif;
    font-size:100%;
}

section, aside {
    float: none;
    width: auto;
}

header,footer, article{
    border:1px solid black;
    padding:1%;
    background-color:silver;
    text-align: justify;
}

header,footer {
    color:blue;
    background-color: white;
    margin-bottom:2.5px;
}

footer{
	clear: both;
}

section h2, aside h2{
    display: none;
}

article h2{
   background-color: white;
   text-align: left;
}

nav{
	display:none;
	margin: 0;
}

img{
   width : 70%;
   height: auto;
}

h1{
  font-size:70%;
  text-align: center;
}